<mat-card class="P-card">
  <mat-card-header>
    <mat-card-title>Agregar Nuevo</mat-card-title>
  </mat-card-header>

  <mat-card-content class="enviar">
    <mat-form-field>
      <mat-icon>add</mat-icon>
      <ngx-mat-file-input  accept="image/*" multiple (change)="onFileChanged($event)">
      </ngx-mat-file-input>
    </mat-form-field>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>
          <mat-icon>email</mat-icon> Ingrese correo
        </mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button class="enviar" mat-flat-button color="primary" (click)='onUpload()'> Cargar Archivos </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <!--Cards De Las Imagenes A Subir-->
  <mat-expansion-panel *ngFor="let item of source">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{this.nombres[this.source.indexOf(item)]}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-progress-bar mode="determinate" value="{{this.progreso[this.source.indexOf(item)]}}"></mat-progress-bar>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="item" [alt]="item">
      </mat-card-content>
      <mat-card-actions align="end">
        <button class='bt' mat-mini-fab color="accent" (click)='Borrar(item)'>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-card>